/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');





*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



body{
    margin:0;
    min-height:100vh;
    font-family: "Poppins", sans-serif;
    background:#0e0d0d;
   
}


/* ================= Navbar ================= */



.header{
   
   

    width:100%;
    position:sticky;
    top:0;
    left:0;
    z-index:1000;

    background:#0c0a0a;

    box-shadow:0 5px 20px rgba(211, 105, 105, 0.08);
   
}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;
    width:90%;
    margin:auto;

    height:70px;

}

/* Logo */

.logo{
   

    font-size: 2rem;
    font-weight: 700;
    padding: 0;
    margin: 0;

    color:#ffffff;
    text-decoration:none;

}

.logo span{

    color:#ff6b00;

}

/* Menu */

.nav-links{

    display:flex;

    gap: 35px;

}

.nav-links a{

    color:#fffbfb;

    font-size:17px;

    font-weight:500;

    transition:.3s;
    text-decoration:none;
    

}

.nav-links a:hover{

    color:#ff6b00;

}

/* Button */

.order-btn{

    background:#ff6b00;

    color:#fff;

    padding:12px 25px;

    border-radius:30px;

    transition:.3s;
    text-decoration:none;
    box-shadow:0 8px 25px rgba(255,107,0,.45);

}

.order-btn:hover{

    background:#e65a00;

    transform:translateY(-3px);
    
    

}


/*================ Hero Section =================*/

.container{

    width:90%;
    max-width:1200px;
    margin:auto;

}

.hero{

    min-height:100vh;

    display:flex;

    align-items:center;
    padding:80px 0;

}

.hero .container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:50px;

}

.hero-text{

    flex:1;

}

.hero-text h3{

    color:#ff6b00;

    font-size:25px;

    margin-bottom:15px;

}

.hero-text h1{

    font-size:60px;

    color:#fff;

    margin-bottom:15px;
   

}

.hero-text h2{

    font-size:35px;

    color:#ffd166;

    margin-bottom:20px;
   

}






.hero-text p{

    color:#bbb95f;

    font-size:18px;

    line-height:1.8;

    margin-bottom:30px;

}

.hero-btn{

    display:flex;

    gap:20px;

}

.menu-btn{

    border:2px solid #ff6b00;

    color:#fff;

    padding:12px 30px;

    border-radius:30px;

    text-decoration:none;

    transition:.3s;

}

.menu-btn:hover{

    background:#ff6b00;

}

.hero-image{

    flex:1;

    text-align:center;

}

.hero-image img{

    width:100%;

    max-width:500px;
    border-radius:5%;

   
    animation: float 4s ease-in-out infinite;

}


@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-20px);
    }

    100%{
        transform:translateY(0);
    }

}





/*================ Popular Section =================*/

.popular{

    padding:100px 0;

    background:#151515;

}

.section-title{

    text-align:center;

    margin-bottom:60px;
    letter-spacing:3px;
   

}

.section-title h3{

    color:#ff6b00;

    font-size:22px;

}

.section-title h2{

    color:#fff;

    font-size:45px;

    margin:15px 0;

}

.section-title p{
     color:#9e9c28;

    

}

.popular-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}


.food-card{

    background:#1d1d1d;

    padding:30px;

    border-radius:20px;

    text-align:center;

    transition:.4s;

}

.food-card:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 35px rgba(255,107,0,.3);

}

.food-card img{

    width:180px;

    transition:.4s;

}

.food-card:hover img{

    transform:scale(1.1) rotate(8deg);

}

.food-card h3{

    color:#fff;

    margin:20px 0 10px;

}

.food-card p{

    color:#bbb;

    line-height:1.8;

}

.food-info{

    display:flex;

    justify-content:space-between;

    margin:25px 0;

}

.price{

    color:#ff6b00;

    font-size:22px;

    font-weight:bold;

}

.food-btn{

    display:inline-block;

    background:#ff6b00;

    color:#fff;

    text-decoration:none;

    padding:12px 30px;

    border-radius:30px;

    transition:.3s;

}

.food-btn:hover{

    background:#ff8533;

}


/* ========= About Section ========= */

.about{

    width:90%;
    margin:100px auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:70px;

}

.about-image{

    flex:1;

}

.about-image img{

    width:420px;
    max-width: 100%;

}

.about-content{

    flex:1;

}

.about-content span{

    color:#ff6b00;
    font-size:20px;
    font-weight:600;

}

.about-content h2{

    font-size:50px;
    margin:20px 0;
    color:#fff;

}

.about-content p{

    color:#dac56a;
    line-height:30px;
    margin-bottom:30px;

}

.about-btn{

    display:inline-block;

    background:#ff6b00;
    color:#fff;

    padding:14px 35px;

    text-decoration:none;

    border-radius:35px;

    transition:.4s;

}

.about-btn:hover{

    background:#fff;

    color:#ff6b00;

    box-shadow:0 0 25px #ff6b00;

}


/*================ Why Choose Us =================*/

.choose{

    padding:100px 0;

    background:#111;

}

.choose-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.choose-card{

    background:#1b1b1b;

    padding:40px 30px;

    text-align:center;

    border-radius:20px;

    transition:.4s;

}

.choose-card:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 35px rgba(255,107,0,.35);

}

.choose-card i{

    font-size:55px;

    color:#ff6b00;

    margin-bottom:20px;

}

.choose-card h3{

    color:#fff;

    margin-bottom:15px;

}

.choose-card p{

    color:#bbb;

    line-height:1.8;

}


/*================ Our Chefs =================*/

.chef{

    padding:100px 0;

    background:#151515;

}

.chef-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.chef-card{

    background:#1d1d1d;

    border-radius:20px;

    overflow:hidden;

    transition:.4s;

}

.chef-card:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 35px rgba(255,107,0,.3);

}

.chef-card img{

    width:100%;

    height:320px;

    object-fit:cover;

}

.chef-content{

    padding:25px;

    text-align:center;

}

.chef-content h3{

    color:#fff;

    margin-bottom:10px;

}

.chef-content span{

    color:#ff6b00;

    display:block;

    margin-bottom:20px;

}

.chef-social{

    display:flex;

    justify-content:center;

    gap:15px;

}

.chef-social a{

    width:40px;

    height:40px;

    background:#ff6b00;

    color:#fff;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;
    text-decoration:none;

    transition:.3s;

}

.chef-social a:hover{

    background:#fff;

    color:#ff6b00;

}



/*================ Testimonials =================*/

.testimonial{

    padding:100px 0;

    background:#111;

}

.testimonial-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.review-card{

    background:#1c1c1c;

    border-radius:20px;

    padding:35px;

    text-align:center;

    transition:.4s;

    border:1px solid transparent;

}

.review-card:hover{

    transform:translateY(-10px);

    border-color:#ff6b00;

    box-shadow:0 15px 35px rgba(255,107,0,.25);

}

.review-card img{

    width:100px;

    height:100px;

    border-radius:50%;

    object-fit:cover;

    border:4px solid #ff6b00;

    margin-bottom:20px;

}

.stars{

    color:#FFD700;

    font-size:22px;

    margin-bottom:20px;

}

.review-card p{

    color:#bbb;

    line-height:1.8;

    margin-bottom:20px;

}

.review-card h3{

    color:#fff;

    margin-bottom:8px;

}

.review-card span{

    color:#ff6b00;

}




/*================ Food Gallery =================*/

.gallery{

    padding:100px 0;

    background:#111;

}

.gallery-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

}

.gallery-item{

    overflow:hidden;

    border-radius:20px;

    cursor:pointer;

    position:relative;

}

.gallery-item img{

    width:100%;

    height:280px;

    object-fit:cover;

    transition:.5s;

}

.gallery-item:hover img{

    transform:scale(1.15);

}

.gallery-item::before{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(255,107,0,.15);

    opacity:0;

    transition:.4s;

    z-index:1;

}

.gallery-item:hover::before{

    opacity:1;

}

.gallery-item:hover{

    box-shadow:0 15px 35px rgba(255,107,0,.35);

}


/*================ Reservation =================*/

.reservation{

    padding:100px 0;

    background:#151515;

}

.reservation-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:180px;

    align-items:center;

}

.reservation-image img{

    width:100%;

    border-radius:20px;

}

.reservation-form form{

    display:flex;

    flex-direction:column;

    gap:20px;

}

.reservation-form input,
.reservation-form select{

    padding:16px;

    border:none;

    border-radius:10px;

    background:#222;

    color:#fff;

    font-size:16px;

    outline:none;

}

.reservation-form input:focus,
.reservation-form select:focus{

    border:2px solid #ff6b00;

}

.reservation-form button{

    padding:16px;

    border:none;

    border-radius:40px;

    background:#ff6b00;

    color:#fff;

    font-size:18px;

    cursor:pointer;

    transition:.4s;

    box-shadow:0 0 20px rgba(255,107,0,.4);

}

.reservation-form button:hover{

    transform:translateY(-4px);

    background:#ff7d1a;

    box-shadow:0 10px 30px rgba(255,107,0,.6);

}


/*================ Contact =================*/

.contact{

    padding:100px 0;

    background:#111;

}

.contact-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:60px;

    align-items:start;

}

.contact-info{

    display:flex;

    flex-direction:column;

    gap:25px;

}

.info-box{

    display:flex;

    align-items:center;

    gap:20px;

    background:#1b1b1b;

    padding:25px;

    border-radius:15px;

    transition:.4s;

}

.info-box:hover{

    transform:translateY(-5px);

    box-shadow:0 10px 25px rgba(255,107,0,.25);

}

.info-box i{

    width:60px;

    height:60px;

    background:#ff6b00;

    color:#fff;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

}

.info-box h3{

    color:#fff;

    margin-bottom:5px;

}

.info-box p{

    color:#bbb;

}

.contact-form form{

    display:flex;

    flex-direction:column;

    gap:20px;

}

.contact-form input,
.contact-form textarea{

    width:100%;

    padding:16px;

    background:#1b1b1b;

    border:none;

    border-radius:10px;

    color:#fff;

    outline:none;

    font-size:16px;

}

.contact-form input:focus,
.contact-form textarea:focus{

    border:2px solid #ff6b00;

}

.contact-form button{

    width:220px;

    padding:16px;

    border:none;

    border-radius:40px;

    background:#ff6b00;

    color:#fff;

    font-size:17px;

    cursor:pointer;

    transition:.4s;

    box-shadow:0 0 20px rgba(255,107,0,.35);

}

.contact-form button:hover{

    background:#ff7d1a;

    transform:translateY(-4px);
    box-shadow:0 10px 30px rgba(255,107,0,.6);

}



/*================ Google Map =================*/

.map{

    padding:100px 0;

    background:#151515;

}

.map-box{

    overflow:hidden;

    border-radius:20px;

    box-shadow:0 15px 35px rgba(255,107,0,.25);

}

.map-box iframe{

    display:block;

    width:100%;

    height:450px;

}




/*================ Newsletter =================*/

.newsletter{

    padding:100px 0;

    background:#111;

}

.newsletter-box{

    background:linear-gradient(135deg,#ff6b00,#ff8c1a);

    border-radius:25px;

    padding:60px;

    text-align:center;

    box-shadow:0 20px 40px rgba(255,107,0,.35);

}

.newsletter-content h3{

    color:#fff;

    font-size:22px;

    margin-bottom:10px;

    text-transform:uppercase;

    letter-spacing:2px;

}

.newsletter-content h2{

    color:#fff;

    font-size:42px;

    margin-bottom:20px;

}

.newsletter-content p{

    color:#fff;

    max-width:650px;

    margin:0 auto 40px;

    line-height:1.8;

}

.newsletter-form{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.newsletter-form input{

    width:420px;

    max-width:100%;

    padding:18px 22px;

    border:none;

    border-radius:50px;

    outline:none;

    font-size:16px;

}

.newsletter-form button{

    padding:18px 35px;

    border:none;

    border-radius:50px;

    background:#111;

    color:#fff;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.4s;

}

.newsletter-form button:hover{

    background:#fff;

    color:#ff6b00;

    transform:translateY(-3px);

    box-shadow:0 10px 25px rgba(0,0,0,.3);

}



.scroll-top{

    position:fixed;

    bottom:30px;

    right:30px;

    width:50px;

    height:50px;

    background:#ff6b00;

    color:#fff;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    text-decoration:none;

    font-size:20px;

    box-shadow:0 10px 25px rgba(255,107,0,.4);

    transition:.3s;

}

.scroll-top:hover{

    transform:translateY(-5px);

    background:#ff7d1a;

}

/*================ Footer =================*/

.footer{

    background:#0a0a0a;

    padding:80px 0 25px;

}

.footer-container{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:40px;

}

.footer-box h2,
.footer-box h3{

    color:#f79162;

    margin-bottom:20px;

}

.footer-box p{

    color:#bbb;

    line-height:1.8;

}

.footer-box ul{

    list-style:none;

}

.footer-box ul li{

    margin-bottom:12px;

}

.footer-box ul li a{

    color:#bbb;

    text-decoration:none;

    transition:.3s;

}

.footer-box ul li a:hover{

    color:#ff6b00;

    padding-left:8px;

}

.footer-social{

    display:flex;

    gap:15px;

    margin-top:20px;

}

.footer-social a{

    width:45px;

    height:45px;

    background:#1b1b1b;

    color:#fff;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    transition:.3s;

}

.footer-social a:hover{

    background:#ff6b00;

    transform:translateY(-5px);

}

.footer hr{

    border:none;

    height:1px;

    background:#333;

    margin:50px 0 20px;

}

.footer-bottom{

    text-align:center;

}

.footer-bottom p{

    color:#999;

}



/*================ Tablet =================*/

@media (max-width:992px){

.container{
    width:90%;
    margin:auto;
}

.hero,
.about,
.reservation-container,
.contact-container{

    flex-direction:column;
    grid-template-columns:1fr;
    text-align:center;

}

.hero-image img,
.about-image img,
.reservation-image img{

    max-width:450px;
    margin:auto;

}

.popular-container,
.choose-container,
.chef-container,
.gallery,
.footer-container{

    grid-template-columns:repeat(2,1fr);

}

.newsletter-form{

    flex-direction:column;
    align-items:center;

}

.newsletter-form input{

    width:100%;

}

.newsletter-form button{

    width:220px;

}

}


/*================ Mobile =================*/

@media (max-width:768px){

.navbar{

    height:70px;

}

.nav-links{

    display:none;

}

.logo{

    font-size:1.8rem;

}

.order-btn{

    padding:10px 20px;

    font-size:14px;

}

.hero{

    flex-direction:column-reverse;
    text-align:center;
    gap:40px;
    padding:80px 0;

}

.hero-text h1{

    font-size:40px;

}

.hero-text h2{

    font-size:25px;

}

.hero-text p{

    font-size:15px;

}

.hero-btn{

    justify-content:center;

    flex-wrap:wrap;

}

.hero-image img{

    width:320px;

}

.about{

    flex-direction:column;
    text-align:center;

}

.about h2{

    font-size:36px;

}

.section-title h2{

    font-size:34px;

}

.popular-container,
.choose-container,
.chef-container,
.gallery,
.footer-container{

    grid-template-columns:1fr;

}

.food-card,
.choose-card,
.chef-card{

    max-width:360px;
    margin:auto;

}

.contact-container,
.reservation-container{

    grid-template-columns:1fr;

}

.info-box{

    flex-direction:column;
    text-align:center;

}

.map iframe{

    height:300px;

}

.newsletter-box{

    padding:35px 20px;

}

.newsletter-content h2{

    font-size:30px;

}

.newsletter-form{

    flex-direction:column;

}

.newsletter-form input,
.newsletter-form button{

    width:100%;

}

.footer{

    text-align:center;

}

.footer-social{

    justify-content:center;

}

}

/*================ Small Mobile =================*/

@media (max-width:480px){

.hero-text h1{

    font-size:32px;

}

.hero-text h2{

    font-size:20px;

}

.hero-image img{

    width:260px;

}

.section-title h2{

    font-size:28px;

}

.about h2{

    font-size:30px;

}

.food-card{

    padding:20px;

}

.choose-card{

    padding:25px;

}

.chef-card img{

    height:250px;

}

.scroll-top{

    width:45px;
    height:45px;

    font-size:18px;

}

}